<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>SPXCorp.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dicomcloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dicomcloud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DICOMcloud</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DICOMcloud</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="LocalPacsDataArchieve" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User ID=zalsafadi@pacs-wado-dev-sqlsrv;Password=&quot;Don'tTellAny1&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=XEOS-PC\SQLEXPRESS;Initial Catalog=medicalCo_db;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalPacsDataArchieve_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=XEOS-PC\SQLEXPRESS;Initial Catalog=medicalCo_db;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PacsDataArchieve" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User ID=zalsafadi@pacs-wado-dev-sqlsrv;Password=&quot;Don'tTellAny1&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User ID=zaidsafadi@pacs-wado-dev-sqlsrv;Password=&quot;Don'tTellAny1&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PacsDataArchieve_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User Id=zaidsafadi@pacs-wado-dev-sqlsrv;Password=Don'tTellAny1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://SPXCorp.onmicrosoft.com/WebApp-dicomcloud.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>a61bc81e-7706-426b-b682-b06f901c8700</ADClientAPPID>
    <ADClientPassword>xQqPOwkprO1yJpzMJeU03Hi0EVjHM/x6pkOn+MQVifQ=</ADClientPassword>
    <ADReplyUrl>https://dicomcloud.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>441b7b2c-0b84-43f9-9ed8-58339f0206e5</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalPacsDataArchieve-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User ID=zalsafadi@pacs-wado-dev-sqlsrv;Password="Don'tTellAny1"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PacsDataArchieve-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pacs-wado-dev-sqlsrv.database.windows.net,1433;Initial Catalog=wado_db;User ID=zalsafadi@pacs-wado-dev-sqlsrv;Password="Don'tTellAny1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>